@page "/customers/assign-order/{OrderId}/{Service}"
@using System.Runtime.InteropServices
@using System.Globalization
@inject ArtisanService ArtisanService
@inject NavigationService Navigator
@inject AuthService AuthStateService

<PageTitle>Assign Artisan</PageTitle>


<!--begin::Card-->
<div class="card" style="overflow-x: scroll;">
	<!--begin::Card header-->
<div class="card-header border-0 pt-6">
	<EditForm Model="SearchObj" OnSubmit="Search">
		<!--begin::Card title-->
        	<div class="card-title">
        		<!--begin::Search-->
        		<div class="d-flex align-items-center position-relative my-1">
        			<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        			<span class="svg-icon svg-icon-1 position-absolute ms-6">
        				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        					<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"/>
        					<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"/>
        				</svg>
        			</span>
        			<!--end::Svg Icon-->
        			<InputText @bind-Value="SearchObj.SearchTerm" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search artisan, location"/>
        		</div>
        		<!--end::Search-->
        
        		<!--begin:Action-->
        		<div class="d-flex align-items-center">
        			<button type="submit" class="btn btn-primary me-5 ms-3"
        			        disabled="@IsLoading">Search</button>
        		</div>
        		<!--end:Action-->
        	</div>
        	<!--begin::Card title-->
	</EditForm>
	
	<!--begin::Card toolbar-->
	<div class="card-toolbar">
		@*<!--begin::Toolbar-->
				<div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
					
					<!--begin::Filter-->
					<button type="button" class="btn btn-light-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_export_users">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
					<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black" />
						</svg>
					</span>
					<!--end::Svg Icon-->Filter</button>
					<!--end::Export-->
				</div>
				<!--end::Toolbar-->
				<!--begin::Group actions
				<div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
					<div class="fw-bolder me-5">
					<span class="me-2" data-kt-user-table-select="selected_count"></span>Selected</div>
					<button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete Selected</button>
				</div>
				<!--end::Group actions-->*@
		<!--begin::Modal - Adjust Balance-->
		<div class="modal fade" id="kt_modal_export_users" tabindex="-1" aria-hidden="true">
			<!--begin::Modal dialog-->
			<div class="modal-dialog modal-dialog-centered mw-650px">
				<!--begin::Modal content-->
				<div class="modal-content">
					<!--begin::Modal header-->
					<div class="modal-header">
						<!--begin::Modal title-->
						<h2 class="fw-bolder">Export Users</h2>
						<!--end::Modal title-->
						<!--begin::Close-->
						<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"/>
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"/>
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Close-->
					</div>
					<!--end::Modal header-->
					<!--begin::Modal body-->
					<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
						<!--begin::Form-->
						<form id="kt_modal_export_users_form" class="form" action="#">
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Label-->
								<label class="fs-6 fw-bold form-label mb-2">Select Roles:</label>
								<!--end::Label-->
								<!--begin::Input-->
								<select name="role" data-control="select2" data-placeholder="Select a role" data-hide-search="true" class="form-select form-select-solid fw-bolder">
									<option></option>
									<option value="Administrator">Administrator</option>
									<option value="Analyst">Analyst</option>
									<option value="Developer">Developer</option>
									<option value="Support">Support</option>
									<option value="Trial">Trial</option>
								</select>
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Label-->
								<label class="required fs-6 fw-bold form-label mb-2">Select Export Format:</label>
								<!--end::Label-->
								<!--begin::Input-->
								<select name="format" data-control="select2" data-placeholder="Select a format" data-hide-search="true" class="form-select form-select-solid fw-bolder">
									<option></option>
									<option value="excel">Excel</option>
									<option value="pdf">PDF</option>
									<option value="cvs">CVS</option>
									<option value="zip">ZIP</option>
								</select>
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Actions-->
							<div class="text-center">
								<button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Discard</button>
								<button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
									<span class="indicator-label">Submit</span>
									<span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
								</button>
							</div>
							<!--end::Actions-->
						</form>
						<!--end::Form-->
					</div>
					<!--end::Modal body-->
				</div>
				<!--end::Modal content-->
			</div>
			<!--end::Modal dialog-->
		</div>
		<!--end::Modal - New Card-->

	</div>
	<!--end::Card toolbar-->
</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body pt-0">
	
		<div class="col-xl-12">
        	<!--begin::List Widget 8-->
        	<div class="card card-xl-stretch mb-5 mb-xl-8">
        		<!--begin::Header-->
        		<div class="card-header align-items-center border-0 mt-4">
        			<h3 class="card-title align-items-start flex-column">
        				<span class="fw-bolder text-dark">Available Artisans</span>
        				<span class="text-muted mt-1 fw-bold fs-7">Gifts and more</span>
        			</h3>
        			<div class="card-toolbar">
        				<!--begin::Menu-->
        				<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
        					<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
        					<span class="svg-icon svg-icon-2">
        						<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
        							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        								<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
        								<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        								<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        								<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        							</g>
        						</svg>
        					</span>
        					<!--end::Svg Icon-->
        				</button>
        				<!--begin::Menu 3-->
        				<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3" data-kt-menu="true">
        					<!--begin::Heading-->
        					<div class="menu-item px-3">
        						<div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
        					</div>
        					<!--end::Heading-->
        					<!--begin::Menu item-->
        					<div class="menu-item px-3">
        						<a href="#" class="menu-link px-3">Create Invoice</a>
        					</div>
        					<!--end::Menu item-->
        					<!--begin::Menu item-->
        					<div class="menu-item px-3">
        						<a href="#" class="menu-link flex-stack px-3">Create Payment
        						<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></i></a>
        					</div>
        					<!--end::Menu item-->
        					<!--begin::Menu item-->
        					<div class="menu-item px-3">
        						<a href="#" class="menu-link px-3">Generate Bill</a>
        					</div>
        					<!--end::Menu item-->
        					<!--begin::Menu item-->
        					<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-end">
        						<a href="#" class="menu-link px-3">
        							<span class="menu-title">Subscription</span>
        							<span class="menu-arrow"></span>
        						</a>
        						<!--begin::Menu sub-->
        						<div class="menu-sub menu-sub-dropdown w-175px py-4">
        							<!--begin::Menu item-->
        							<div class="menu-item px-3">
        								<a href="#" class="menu-link px-3">Plans</a>
        							</div>
        							<!--end::Menu item-->
        							<!--begin::Menu item-->
        							<div class="menu-item px-3">
        								<a href="#" class="menu-link px-3">Billing</a>
        							</div>
        							<!--end::Menu item-->
        							<!--begin::Menu item-->
        							<div class="menu-item px-3">
        								<a href="#" class="menu-link px-3">Statements</a>
        							</div>
        							<!--end::Menu item-->
        							<!--begin::Menu separator-->
        							<div class="separator my-2"></div>
        							<!--end::Menu separator-->
        							<!--begin::Menu item-->
        							<div class="menu-item px-3">
        								<div class="menu-content px-3">
        									<!--begin::Switch-->
        									<label class="form-check form-switch form-check-custom form-check-solid">
        										<!--begin::Input-->
        										<input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
        										<!--end::Input-->
        										<!--end::Label-->
        										<span class="form-check-label text-muted fs-6">Recuring</span>
        										<!--end::Label-->
        									</label>
        									<!--end::Switch-->
        								</div>
        							</div>
        							<!--end::Menu item-->
        						</div>
        						<!--end::Menu sub-->
        					</div>
        					<!--end::Menu item-->
        					<!--begin::Menu item-->
        					<div class="menu-item px-3 my-1">
        						<a href="#" class="menu-link px-3">Settings</a>
        					</div>
        					<!--end::Menu item-->
        				</div>
        				<!--end::Menu 3-->
        				<!--end::Menu-->
        			</div>
        		</div>
        		<!--end::Header-->
        		<!--begin::Body-->
        		<div class="card-body pt-3">
        			
        			@foreach (var artisan in Artisans)
			        {
				        <!--begin::Item-->
        				<div class="d-flex align-items-sm-center mb-7">
        					<!--begin::Symbol-->
        					<div class="symbol symbol-60px symbol-2by3 me-4">
        						<div class="symbol-label" style="background-image: url(@ShowArtisanImage(artisan))"></div>
        					</div>
        					<!--end::Symbol-->
        					<!--begin::Content-->
        					<div class="d-flex flex-row-fluid align-items-center flex-wrap my-lg-0 me-2">
        						<!--begin::Title-->
        						<div class="flex-grow-1 my-lg-0 my-2 me-2">
	                                <a @onclick="@(() => Navigator.NavigateToCustomerViewArtisanForOrder(artisan.Id, OrderId))"
	                                   class="text-gray-800 fw-bolder text-hover-primary fs-6">@artisan.BusinessName</a>
        							<span class="text-muted fw-bold d-block pt-1">@artisan.User.Contact.PrimaryContact</span>
        						</div>
        						<!--end::Title-->
        						<!--begin::Section-->
        						<div class="d-flex align-items-center">
        							<div class="me-6">
        								<i class="fa fa-star-half-alt me-1 text-warning fs-5"></i>
        								<span class="text-gray-800 fw-bolder">@artisan.Rating.ToString(CultureInfo.InvariantCulture)</span>
        							</div>
        							<a @onclick="@(() => Navigator.NavigateToCustomerViewArtisanForOrder(artisan.Id, OrderId))" class="btn btn-icon btn-light btn-sm border-0">
        								<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
        								<span class="svg-icon svg-icon-2 svg-icon-primary">
        									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        										<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black" />
        										<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black" />
        									</svg>
        								</span>
        								<!--end::Svg Icon-->
        							</a>
        						</div>
        						<!--end::Section-->
        					</div>
        					<!--end::Content-->
        				</div>
        				<!--end::Item-->
			        }
        		</div>
        		<!--end::Body-->
        	</div>
        	<!--end::List Widget 8-->
        </div>
	

		
		<div class="d-flex flex-stack flex-wrap pt-10">
			<div class="fs-6 fw-semibold text-gray-700"></div>
			<!--begin::Pages-->
			<ul class="pagination">
				@if (Paginated.HasPrevious)
				{
					<li class="page-item previous">
						<a @onclick="(async() => await NavigateToPage(false))" class="page-link">
							<i class="previous"></i>
						</a>
					</li>
				}
				
				@foreach(var i in Enumerable.Range(1, Paginated.TotalPages))
				{
					<li class="page-item @(i == _currentPage ? "active" : "")">
						<a @onclick="(async() => await JumpToPage(i))" class="page-link" 
						   disabled="@IsLoading">@i</a>
					</li>
				}
				
				@if (Paginated.HasNext)
				{
					<li class="page-item next">
						<a @onclick="(async() => await NavigateToPage(true))" class="page-link">
							<i class="next"></i>
						</a>
					</li>
				}
			</ul>
			<!--end::Pages-->
		</div>
	</div>
	<!--end::Card body-->
</div>
<!--end::Card-->

@code {
	[Parameter]
	public string OrderId { get; set; }
	[Parameter]
	public string Service { get; set; }

	Search SearchObj { get; set; } = new();
	int _currentPage = 1;
	bool IsLoading { get; set; }
	PaginatedQuery Query { get; set; } = PaginatedQuery.Build(0, 1, 5);
	List<ArtisanPageDto> Artisans { get; set; } = new();
	PaginatedList<ArtisanPageDto> Paginated { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		await AuthStateService.CheckAuthStatus();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await UpdatePage();
		}
	}

	async Task NavigateToPage(bool forwards)
	{
		_currentPage = forwards ? _currentPage + 1 : _currentPage - 1;
		if (_currentPage < 1) _currentPage = Paginated.TotalPages;
		if (_currentPage > Paginated.TotalPages) _currentPage = 1;
		await GetPage();
	}

	async Task JumpToPage(int pageNumber)
	{
		_currentPage = pageNumber;
		await GetPage();
	}

	async Task GetPage() => await UpdatePage(SetPage);
	async Task Search() => await UpdatePage();

	async Task UpdatePage([Optional] Func<int, PaginatedQuery> setPage)
	{
		DisableButton(true);
		setPage?.Invoke(_currentPage);
		Query.ThenSearch(Service);
		if (!string.IsNullOrEmpty((SearchObj.SearchTerm))) Query.OtherJson = SearchObj.SearchTerm;
		Paginated = await ArtisanService.GetPage(Query);
		Artisans = Paginated.Data;
		DisableButton(false);
		StateHasChanged();	
	}
	PaginatedQuery SetPage(int currPage) => Query = PaginatedQuery.Build(0, currPage, 5);

	void DisableButton(bool isLoading)
	{
		IsLoading = isLoading;
		StateHasChanged();
	}

	string ShowArtisanImage(ArtisanPageDto artisan)
		=> string.IsNullOrEmpty(artisan.ImageUrl) 
			? "https://res.cloudinary.com/kay-gyasi/image/upload/v1664598169/EPMS_Login_kdthcn.png" : artisan.ImageUrl;

}
