@page "/customers/orders/{OrderId:int}"
@inject OrderService OrderService
@inject NavigationService Navigator
@inject NotificationService ToastService
@inject AuthService AuthStateService

<PageTitle>Order Details</PageTitle>

<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
	<!--begin::Card header-->
	<div class="card-header cursor-pointer">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bolder m-0">Order Details</h3>
		</div>
		<!--end::Card title-->
		@if (!IsCompleted())
		{
			@if (!IsArtisanAssigned)
			{
				<!--begin::Action-->
				<a @onclick="@(() => Navigator.NavigateToAssignOrderToArtisan(Order.Id, Order.Service.Name))" 
				   class="btn btn-primary align-self-center" disabled="@IsLoading">Assign to artisan</a>
				<!--end::Action-->
			}
			else
			{
				<!--begin::Action-->
				<a @onclick="RemoveAssignedArtisan" class="btn btn-danger align-self-center"
				   disabled="@IsLoading">Remove assigned artisan</a>
				<!--end::Action-->
			}
		}
	</div>
	<!--begin::Card header-->
	<!--begin::Card body-->
	<div class="card-body p-9">
		<!--begin::Row-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Customer Name</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bolder fs-6 text-gray-800">@Order?.Customer.User.DisplayName</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		@if (IsArtisanAssigned)
		{
			<!--begin::Row-->
			<div class="row mb-7" style="cursor: pointer;">
				<!--begin::Label-->
				<label class="col-lg-4 fw-bold text-muted">Assigned Artisan</label>
				<!--end::Label-->

				<!--begin::Col-->
				<div class="col-lg-8">
					<span class="fw-bolder fs-6 text-gray-800" 
						  @onclick=@(() => Navigator.NavigateToCustomerViewArtisanProfile(Order.Artisan.Id))
						>@Order?.Artisan.BusinessName</span>
				</div>
				<!--end::Col-->

			</div>
			<!--end::Row-->
		}
		

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Description</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.Description</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Preferred Date</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.PreferredDate.ToShortDateString()</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Service</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.Service.Name</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Contact Phone
			<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i></label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 d-flex align-items-center">
				<a href="tel:@Order?.Customer.User.Contact?.PrimaryContact" class="fw-bolder fs-6 text-gray-800 me-2">
					@Order?.Customer.User.Contact?.PrimaryContact
				</a>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Work Address</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bold fs-6 text-gray-800 text-hover-primary">@Order?.WorkAddress.City, @Order?.WorkAddress.StreetAddress</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		
		<div class="card-footer">
			@if (!IsCompleted())
			{
				<!--begin::Action-->
				<a class="btn btn-danger align-self-center float-end" disabled="@IsLoading"
				   @onclick="Delete">Cancel</a>
				<a class="btn btn-primary align-self-center float-end me-1"
				   disabled="@IsLoading" @onclick="Complete">Complete</a>
				<!--end::Action-->
			}
		</div>
	</div>
	<!--end::Card body-->
</div>
<!--end::details View-->
@code {
	[Parameter]
	public int OrderId { get; set; }
	bool IsLoading { get; set; }
	bool IsArtisanAssigned { get; set; }

	OrderDto? Order { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
	    await AuthStateService.CheckAuthStatus();
		Order = await OrderService.GetAsync(OrderId);
		Order.Artisan ??= new ArtisanDto();
		IsArtisanAssigned = Order?.Artisan.Id != 0;
	}

	async Task RemoveAssignedArtisan()
	{
		DisableButton(true);
		var response = await OrderService.UnassignArtisan(OrderId);
		if (response.IsComplete)
		{
			IsArtisanAssigned = false;
			ToastService.ShowUnassignArtisanSuccess();
			DisableButton(false);
			return;
		}
		ToastService.ShowUnassignArtisanFailure();
		DisableButton(false);
	}

	async Task Complete()
	{
		DisableButton(true);
		var response = await OrderService.Complete(OrderId);
		if (response.IsComplete)
		{
			Navigator.NavigateToCustomerOrderList();
			return;
		}
		ToastService.ShowOrderCompleteFailed();
		DisableButton(false);
	}

	async Task Delete()
	{
		DisableButton(true);
		var response = await OrderService.SoftDelete(OrderId);
		if (response.IsComplete)
		{
			Navigator.NavigateToCustomerOrderList();
			return;
		}
		ToastService.DeleteFailed();
		DisableButton(false);
	}

	bool IsCompleted()
	{
		return Order?.Status == OrderStatus.Completed;
	}

	void DisableButton(bool isLoading)
	{
		IsLoading = isLoading;
		StateHasChanged();
	}
}
